# LLM and AI agent Frameworks
langchain == 0.1.12
openai == 1.14.1
llama-index  #automtically install latest versions


#backend api
fastapi == 0.109.2
uvicorn == 0.27.0.post1

#Database
sqlalchemy == 2.0.27
sqlite-utils == 3.35

#rnvironment variables
python-dotenv == 1.0.1


#logging and debgging
loguru == 0.7.2

#task scheduling for remainders
apscheduler == 3.10.4

#cli interaction
typer == 0.9.0

#streamlit
streamlit == 1.31.1